<%- include("partials/header.ejs") -%>
<div class="container">
    <h3>Usuario Añadido correctamente</h3>
    <a href="/agregar-empleado" >Agregar otro usuario</a>
    <a href="/">Ir a Pagina Principal</a>
</div>
</body>

</html>